:root {
  --font-family: "Inter", sans-serif;
  --second-family: "SF Pro Display", sans-serif;
}

#app {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

body {
  box-sizing: border-box;
  max-width: 51rem;
  position: relative;
  background-color: black;
  margin: 0 auto;
  padding: 1rem;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: center;
  gap: 24px;
}
.inventory-wrapper {
  display: flex;
  gap: 20px;
}
.button {
  border-radius: 8px;
  padding: 8px 28px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  backdrop-filter: blur(16px);
  cursor: pointer;
}
.input {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
