@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Regular.otf") format("truetype");
  font-size: 16px;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "SF Pro Display", sans-serif;
}

#app {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

body {
  box-sizing: border-box;
  max-width: 51rem;
  position: relative;
  background-color: black;
  margin: 0 auto;
  padding: 1rem;
  cursor: url("/icons/cursor.cur"), auto;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: center;
  gap: 24px;
}
.inventory-wrapper {
  display: flex;
  gap: 20px;
}
.button {
  border-radius: 8px;
  padding: 8px 28px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  backdrop-filter: blur(16px);
  cursor: pointer;
}
.input {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  color: #fff;
}
.button:hover,
.button:active,
.input:hover,
.input:active {
  cursor: url("/icons/cursor-hover.cur"), auto;
}
/* Скрытие спиннеров для поля <input type="number"> */
/* Для Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
